.Summary {
    background-color: #5ac18e;
    width: 60%;
    min-width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 70px;
}

.Summary h3 {
    color: #ffd700;
    margin-left: 10px;
    margin-top: 10px;
}

.Summary h2 {
    color: white;
    text-align: center;
}

.Summary div {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    font-weight: bold;
}
.Summary p {
    font-weight: normal;
}

@media(max-width: 500px) {
    .Summary {
        /* width: 50px; */
        padding: 20px 30px;
    }
}