.Summary {
    background-color: whitesmoke;
    width: 90%;
    min-width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 10px;
}

.Summary h3 {
    color: #63615a;
    margin-left: 10px;
    /* margin-top: 10px; */
}

.Summary h2 {
    color: #5ac18e;
    text-align: center;
}

.Summary div {
    display: flex;
    align-items: center;
    color: #5ac18e;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
}
.Summary h4 {
    margin-left: 10px;
    margin-right: 10px;
    color: #63615a;
}