.Card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    width: 170px;
    height: 120px;
    margin-bottom: 20px;
    border: 0px solid #5ac18e;
    background-color: white;
    outline: none;
  }

.Card_Active {
  background-color: #5ac18e;
}
.Card:hover {
  background-color: #ccc;
}

.Card h3 {
  color: #5ac18e;
}
.Card_Active h3  {
  color: white;
}

.Card h2 {
  color: #808080;
}

.Card_Active h2 {
  color: #ffd700;
}


.Card div {
  text-align: center;
  color: #ccc;
}

.Card_Active div {
  color: black;
}

.Card button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #5ac18e;
  padding: 5px 32px;
  text-align: center;
  align-self: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0px transparent;
}

.Card button:hover {
  color: #008080;
}

.Card_Active button:hover {
  color: #ffd700;
}

.Card button:focus {outline:0;}

.Card_Active button {
  color: white;
}