.Form {
    margin: 80px auto;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.Form div {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

.Form label {
    margin-bottom: 10px;
    font-size: 16px;
    margin-top: 10px;
    color: #4b4747;
}

.Form input {
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
    padding: 3px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
}
.Form button {
    width: 205px;
    border: 0px;
    background-color: #00695c;
    color: white;
    font-weight: bold;
    outline: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.Form button:hover {
    background-color: whitesmoke;
    color: #00695c;
    border: 1px solid #00695c;
}

.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Success {
    text-align: center;
    color: teal;
    margin-top: 150px;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}