.Profile {
    width: 80%;
    align-self: center;
    margin: 100px 50px 30px;
    justify-content: space-around;
}

.Title {
    color: #696969;
    margin-left: 10px;
}

.Title span {
    display: flex;
    align-items: center;
    color: #696969;
    margin-right: 10px;
}

.Title h3 {
    color: #5ac18e;
    margin-left: 10px;
}

.Title p {
    color: #5ac18e;
    margin-left: 10px;
    margin-top: 20px;
    color: #808080;
}

.Start {
    align-items: center;
    color: #696969;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
}

.Start div {
    width: 300px;
    display: flex;
    align-items: center;
    color: #696969;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}

.Start h4 {
    margin-left: 10px;
    margin-right: 10px;
}

.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.Status {
    display: inline;
}

.Start button {
    background-color: #ff7373;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    align-self: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 10px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 0px transparent;
    border-radius: 5px;
}

.Form {
    margin-top: 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.Form label {
    margin-bottom: 50px;
    font-size: 16px;
    margin-top: 10px;
    color: #4b4747;
}

.Form input {
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
    padding: 3px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
}

.Form button {
    width: 205px;
    border: 0px;
    background-color: #00695c;
    color: white;
    font-weight: bold;
    outline: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 20px;
}

@media (min-width: 500px) {
    .Profile {
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .Grid {
        flex-direction: row;
    }
    .Title {
        display: flex;
        align-items: center;
        color: #696969;
        margin-left: 10px;
        justify-content: space-between;
    }
    .Start {
        display: flex;
    }
    .Form button:hover {
        background-color: whitesmoke;
        color: #00695c;
        border: 1px solid #00695c;
    }
    .Start button:hover {
        color: #ff7373;
        background-color: #ccc;
    }
}