.Card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin: 30px;
    border: 0px solid #5ac18e;
    background-color: white;
    outline: none;
    padding-bottom: 10px;
  }

.Card h3 {
  color: #5ac18e;
}

.Card h2 {
  color: #808080;
}

.Status {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Status h5 {
  color: #808080;
  margin-left: 10px;
}

.Time {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Time h5 {
  color: #808080;
  margin-left: 10px;
}
