.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active, 
.NavigationItem a.active {
    color: #ffd700;
}

@media(min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        text-decoration: none;
        height: 100%;
        width: auto;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active  {
        color: #ffd700;
    }
}