.Form {
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
  }

.Column {
    flex: auto;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}

.NoRecord {
    margin-top: 20px;
    color: rgb(235, 92, 92);
    margin-left: 20px;
}

   .SelecCon {
       margin-top: 40px;
   }
  
  .Label {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      color: #808080;
  }

  .Select {
      /* width: 250px; */
      max-width: 300px;
      margin-top: 10px;
      margin-bottom: 20px;
  }


  @media (max-width: 500px) {
    .Form {
        width: 50%;
    }
}